<div class="studolite-app-menu">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <div style="width: 35px;height: 40px;">
              <div style="position: relative; border: 2px solid white;top: 7px;" ></div>
              <div style="position: relative; border: 2px solid white;top: 16px;" ></div>
              <div style="position: relative; border: 2px solid white;top: 25px;" ></div>
          </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            
            <a class="studolite-app-navbar-brand" href="#"> <span>Studolite</span></a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="studolite-app-nav-item">
                <a class="nav-link" routerLink="home" >Home</a>
              </li>
              <li class="studolite-app-nav-item">
                <a class="nav-link" routerLink="about">About Me</a>
              </li>
            </ul>
      
          </div>
        </div>
        
      </nav>
    </div>
  </header>
</div>

<main class="studolite-main-section">
  <div class="studolite-body-header"></div>
  <router-outlet></router-outlet>
</main>

<section class="studolite-info-section ">
  <div class="info_container layout_padding-top">
    <div class="container">
      <div class="info_top">
        <div class="info_logo">
          <span style="visibility:hidden"> 
            Shatrudhan
          </span>
        </div>
        <div class="social_box">
          <a href="https://github.com/shatrudhank/" target="_blank">
            <img src="assets/github.png" style="background-color: white;" alt="">
          </a>
          <a href="https://www.linkedin.com/in/shatrudhankr5/" target="_blank">
            <img src="assets/linkedin.png"  alt="">
          </a>
        </div>
      </div>

      <div class="info_main">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <div class="info_link-box">
              <h5>
                Projects
              </h5>
              <ul>
                <li class=" active">
                  <a class="" href="#">Booking <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="#">Leave Management </a>
                </li>
                <li class="">
                  <a class="" href="#">Project Management </a>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-3 ">
            <h5>
              Blogs
            </h5>
            <p>
             Please navigate to blog menu or subscribe for latest blog notification</p>
          </div>

          <div class="col-md-3 col-lg-2 offset-lg-1">
            <h5>
              Information
            </h5>
            <p>
              This website is created by using technology Angular12 and .net 6.  
            </p>
          </div>

          <div class="col-md-3  offset-lg-1">
            <div class="info_form ">
              <h5>
                Newsletter
              </h5>
              <form action="">
                <input type="email" placeholder="Email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="info_contact layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="images/location.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h6>
                      Bengaluru (India)
                    </h6>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="images/mail.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h6>
                      shatrudhankr5@gmail.com
                    </h6>
                  </div>
                </a>
              </div>
              <div class="col-md-5">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="images/call.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h6>
                      Call +91-9021263345
                    </h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="container-fluid studolite-footer-section">
  <div class="container">
    <p>
      &copy; <span id="displayDate"></span> All Rights Reserved By
      <a href="#">Studolite</a>
    </p>
  </div>
</footer>