body{
    margin:0;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #1e1e1e;
    overflow-x: hidden;
}
body{
    margin:0;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #1e1e1e;
    overflow-x: hidden;
}

/*Navigation Start*/
.studolite-app-menu{
    background: black ;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .navbar-brand span{
    font-weight: bold;
    font-size: 24px;
    color: white;
  }
  .navbar{
    padding: 0;
  }
  .studolite-app-navbar-brand{
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-right: 20vw;
    text-decoration: none;
  }
  
  li.studolite-app-nav-item a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .nav-link:hover{
    color: white;
  }
  .studolite-app-nav-item:hover{
    background-color: #324e5f70;
  }
  @media screen and (max-width: 995px) {
    .studolite-app-navbar-brand {
      display: none;
    }
  }
  
  .nav-link:focus, .nav-link:hover {
    color:white;
  }
  
  /*Navigation End*/


  
/* Footer section start*/

  .studolite-info-section {
    position: relative;
    color: #ffffff;
    background-color: #1e1e1e;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  }
  
  .studolite-info-section .heading_container {
    margin-bottom: 45px;
  }
  
  .studolite-info-section h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .studolite-info-section .info_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 75px;
  }
  
  .studolite-info-section .info_top .info_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .studolite-info-section .info_top .info_logo img {
    width: 65px;
  }
  
  .studolite-info-section .info_top .info_logo span {
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
  }
  
  .studolite-info-section .info_top .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .studolite-info-section .info_top .social_box a {
    margin: 0 10px;
  }
  
  .studolite-info-section .info_top .social_box a img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
  }
  
  .studolite-info-section a {
    text-transform: none;
  }
  
  .studolite-info-section ul {
    padding: 0;
  }
  
  .studolite-info-section ul li {
    list-style-type: none;
    margin: 3px 0;
  }
  
  .studolite-info-section ul li a {
    color: #ffffff;
  }
  
  .studolite-info-section .info_link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .studolite-info-section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
  }
  
  .studolite-info-section .info_form form button {
    display: inline-block;
    padding: 8px 40px;
    background-color: #ff4f5a;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 0;
    border: 1.5px solid #ffffff;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .studolite-info-section .info_form form button:hover {
    background-color: transparent;
    border-color: #ff4f5a;
    color: #ff4f5a;
  }
  
  .studolite-info-section .info_contact .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
    color: #ffffff;
  }
  
  .studolite-info-section .info_contact .link-box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 45px;
    min-height: 45px;
    margin-right: 20px;
  }
  
  .studolite-info-section .info_contact .link-box .img-box img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
  }
  
  .studolite-subpage-header{
    height: 5vh;
  }

  .studolite-form-add-icon{
    font-size: 24px;
    float: right;
    color: white;
    padding-bottom: 10px;
  }
  .studolite-panel{
    box-shadow: 2px 2px 2px 2px #1cbbb4;
  }
  .studolite-panel-header{
    background-color: #1a2e35;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

.studolite-form-action-icon{
  font-size: 24px;
  margin-left: 40%;
  color: #1cbbb4;
  align-content: center;
}

.studolite-form-action-content {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.studolite-form-action-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.studolite-form-action:hover  .studolite-form-action-content {
  display: block;
}
.studolite-form-action-content a:hover{
  background-color: #1e1e1e;;
}
.studolite-footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color:black;
    color: white;
    position: fixed;
    bottom: 0px;
  }
  
  .studolite-footer-section p {
    color: white;
    margin: 0;
    padding: 25px 0 20px 0;
    margin: 0 auto;
    text-align: center;
  }
  
  .studolite-footer-section a {
    color: white;
  }
  
  /*Footer section end*/


  .studolite-main-section{
    position: relative;
    top: 7vh;
    margin-bottom: 10vh;
    min-height: 73vh;
    margin-left: 30px;
    margin-right: 30px;
  }

  .studolite-body-header{
    height: 5vh;
}
